<div class="publication-card">
  <h3>{{ include.publication.title }}</h3>
  <p class="authors">{{ include.publication.authors }}</p>
  <p class="venue">
    <em>{{ include.publication.journal }}</em>
    {% if include.publication.volume %}, {{ include.publication.volume }}{% endif %}
    {% if include.publication.pages %}, pp. {{ include.publication.pages }}{% endif %}
    ({{ include.publication.year }})
  </p>
  <div class="publication-links">
    {% if include.publication.pdf %}
      <a href="{{ include.publication.pdf }}" class="btn-small">PDF</a>
    {% endif %}
    {% if include.publication.code %}
      <a href="{{ include.publication.code }}" class="btn-small">Code</a>
    {% endif %}
    {% if include.publication.doi %}
      <a href="https://doi.org/{{ include.publication.doi }}" class="btn-small">DOI</a>
    {% endif %}
  </div>
</div>
